.title {
  text-align: center;
  font-size: 50px;
  color: rgb(231, 55, 84);
  opacity: 20%;
}

.App input[type="text"]{
  width: 470px;
  height: 60px;
  font-size: 25px;
  border:none;
}

input[type="text"]:focus{
  outline: none;
  /* background-color: green; */
}

::placeholder{
  font-size: 23px;
  opacity: 30%;
  font-style: italic;
  /* padding-left: 20px; */
}


.maininput{
  border-bottom: 1px solid gray;
}

button{
  color:grey; 
  background-color: white;
  border: none;
  padding: 5px 5px 5px 5px;
}

button:hover{
  cursor: pointer;
}

.App{
  align-self: center;
}

.inputcontainer{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  margin-left: 28%;
  margin-right: 28%;
  align-items: center;
  border: 3px solid #efefef;
  box-shadow: 
    0 1px 1px rgba(0,0,0,0.10),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
}


.inputsection{
  display: flex;
  flex-direction: row;
}

.allbutton{
  /* position: absolute; */
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 3px;
  margin-left: 0;
  height: 60px;
  width: 70px;
  opacity: 30%;
  /* background-color: hotpink; */
}


.icon{
  opacity: 40%;
}

.editInput{
  /* background-color: green; */
  width: fit-content;

}

.list{
  margin-left: 0;
  margin-right: 0;
  width: 522px; 
  height: 50px;
  font-size: 25px;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  
  border-bottom: 1px solid #e2dbdb ;
}

.listitem{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 0;
  /* border-bottom: 1px solid #e2dbdb ; */
}

.listitem .leftsection{
  display: flex;
  align-items: center;
}

.cross{
  font-size: 90%;
  color: rgb(231, 55, 84);
  opacity: 80%;
  margin-right: 0;
  height: 30px;
}

.statusbutton:focus{
  border: 1px solid brown;
  border-radius: 2px;
}

.status{
  flex:1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  width: 500px;
  position: relative;
}















