.title {
  text-align: center;
  font-size: 50px;
  color: rgb(231, 55, 84);
  opacity: 20%;
}
.App{
  align-self: center;
}
li{
  list-style: none;
  width: 500px; 
  height: 50px;
  font-size: 25px;
  align-items: center;
  border-bottom: 1px solid #e2dbdb ;
}


::placeholder{
  font-size: 23px;
  opacity: 30%;
  font-style: italic;
}

.App input[type="text"]{
  width: 500px;
  height: 60px;
  font-size: 25px;
  padding-left: 50px;
}

button{
  color:grey; 
  background-color: white;
  border: none;
}


.cross{
  /* display: none; */
  float: right;
  font-size: 90%;
  color: rgb(231, 55, 84);
  opacity: 80%;
  margin-right: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  margin-left: 28%;
  margin-right: 28%;
  align-items: center;
  border: 3px solid #efefef;
  box-shadow: 
    0 1px 1px rgba(0,0,0,0.10),
    0 10px 0 -5px #eee,
    0 10px 1px -4px rgba(0,0,0,0.15),
    0 20px 0 -10px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);

  /* background-color: blue; */
}

.inputcontainer{
  position: relative;
}

.allbutton{
  position: absolute;
  margin-top: 2px;
  height: 60px;
  width: 50px;
  opacity: 30%;
}

.status{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.icon{
  opacity: 40%;
}





